{% extends 'base.html' %}
{% block title %}About us{% endblock%}

{% block content%}


    <!-- ABOUT -->
    <div class="diffSection" id="about_section">

        <center>
            <p style="font-size: 50px; padding: 100px">About Us</p>
        </center>
        <div class="about-content">
            <div class="side-image">
                <img class="sideImage" src="../static/assests/extra/e3.jpg">
            </div>
            <div class="side-text">
                <h2>What you think about us ?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nisi nobis provident aut! Perferendis est, quis esse harum nesciunt quos nostrum officiis consequatur quam similique ratione fugiat, voluptatem corporis dolorem debitis et, molestias eius explicabo error dignissimos assumenda ad ducimus cum veniam. Possimus cupiditate doloremque, natus accusamus omnis tenetur ipsam ad ea porro! Eligendi amet dicta fugiat nihil consequuntur ad, nemo possimus, earum incidunt, saepe at excepturi iste consectetur dolorum.</p>
            </div>
        </div>
    </div>  


    <!-- SERVICES -->
    <div class="service-swipe">
        <div class="diffSection" id="services_section">
            <center>
                <p style="font-size: 50px; padding: 100px; padding-bottom: 40px; color: #fff;">Services</p>
            </center>
        </div>
        <a href="subjects/computer_courses.html">
            <div class="s-card"><img src="../static/assests/icon/computer-courses.png">
                <p>Free Online Computer Courses</p>
            </div>
        </a>
        <a href="subjects/jee.html">
            <div class="s-card"><img src="../static/assests/icon/brainbooster.png">
                <p>Building Concepts for Competitive Exams</p>
            </div>
        </a>
        <a href="#">
            <div class="s-card"><img src="../static/assests/icon/online-tutorials.png">
                <p>Online Video Lectures</p>
            </div>
        </a>
        <a href="subjects/jee.html#sample_papers">
            <div class="s-card"><img src="../static/assests/icon/papers.jpg">
                <p>Sample Papers of Various Competitive Exams</p>
            </div>
        </a>
        <a href="#">
            <div class="s-card"><img src="../static/assests/icon/p3.png">
                <p>Performance and Ranking Report</p>
            </div>
        </a>
        <a href="#contactus_section">
            <div class="s-card"><img src="../static/assests/icon/discussion.png">
                <p>Discussion with Our Tutors & Mentors</p>
            </div>
        </a>
        <a href="subjects/quiz.html">
            <div class="s-card"><img src="../static/assests/icon/q1.png">
                <p>Daily Brain Teasing Questions to Improve IQ</p>
            </div>
        </a>
        <a href="#contactus_section">
            <div class="s-card"><img src="../static/assests/icon/help.png">
                <p>24x7 Online Support</p>
            </div>
        </a>
    </div>

    <!-- Reviews by Students -->
    <div id="makeitfull">
        <a href="#review_section"><img src="../static/assests/icon/makeitfull.png"></a>
    </div>
    <div class="review">
        <div class="diffSection" id="review_section">
            <center>
                <p style="font-size: 40px; padding: 100px; padding-bottom: 40px; color: #2E3D49;">What the Students Say
                    About Us?</p>
            </center>
        </div>
        <div class="rev-container">
            <div class="rev-card">
                <div class="identity">
                    <img src="../static/assests/creator/amar.png">
                    <p>MR. AMMAR AHMAD</p>
                    <h6>Java</h6>
                    <div class="rating"><img src="../static/assests/icon/star.png"><img
                            src="../static/assests/icon/star.png"><img src="images/icon/star.png"><img
                            src="../static/assests/icon/star.png"><img src="../static/assests/icon/star.png"></div>
                </div>
                <div class="rev-cont">
                    <p id="title">Review:</p>
                    <p id="content">
                        I did Java Fundamenetal course with Rishab Sir. It was a great experience. The brain teasers and
                        assignments, actually the whole lot of content was really good. Some problems were challenging
                        yet interesting. Was explained very well where ever I stuck...
                    </p>
                </div>
            </div>
            <div class="rev-card">
                <div class="identity">
                    <img src="../static/assests/creator/bilal.jpg">
                    <p>Muhammad Bilal</p>
                    <h6>C/C++</h6>
                    <div class="rating"><img src="../static/assests/icon/star.png"><img
                            src="../static/assests/icon/star.png"><img src="../static/assests/icon/star.png"><img
                            src="../static/assests/icon/star.png"><img src="../static/assests/icon/star.png"></div>
                </div>
                <div class="rev-cont">
                    <p id="title">Review:</p>
                    <p id="content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae distinctio numquam tempora
                        dolorem veritatis illum expedita consectetur hic rem qui temporibus est aliquid perspiciatis
                        ullam amet molestiae libero minus vel architecto, facilis impedit?</p>
                </div>
            </div>
            <div class="rev-card">
                <div class="identity">
                    <img src="../static/assests/creator/ramzanshahid.png">
                    <p>MR. Ramzan Shahid</p>
                    <h6>JEE</h6>
                    <div class="rating"><img src="../static/assests/icon/star.png"><img
                            src="../static/assests/icon/star.png"><img src="../static/assests/icon/star.png"><img
                            src="../static/assests/icon/star.png"><img src="../static/assests/icon/star.png"></div>
                </div>
                <div class="rev-cont">
                    <p id="title">Review:</p>
                    <p id="content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae distinctio numquam tempora
                        dolorem veritatis illum expedita consectetur hic rem qui temporibus est aliquid perspiciatis
                        ullam amet molestiae libero minus vel architecto, facilis impedit?</p>
                    </p>
                </div>
            </div>
            <div class="rev-card">
                <div class="identity">
                    <img src="../static/assests/creator/asihia.png">
                    <p>MS. ASIYA BATOOL</p>
                    <h6>Database Managment</h6>
                    <div class="rating"><img src="../static/assests/icon/star.png"><img
                            src="../static/assests/icon/star.png"><img src="../static/assests/icon/star.png"><img
                            src="../static/assests/icon/star.png"><img src="images/icon/star.png"></div>
                </div>
                <div class="rev-cont">
                    <p id="title">Review:</p>
                    <p id="content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae distinctio numquam tempora
                        dolorem veritatis illum expedita consectetur hic rem qui temporibus est aliquid perspiciatis
                        ullam amet molestiae libero minus vel architecto, facilis impedit?</p>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}