{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}
<div class="head-container">
    <center>
    <div class="quote">
        <p>Select topic for debate and contribute</p>
    
            <h5>This platform is facilitating in debate learning, or the acquisition of knowledge, skills, values,
                beliefs, and habits. This include the topic like politics, education, religion, discussion and directed
                research!</h5>
      
    </div>
</center>

    <div class="svg-image">
        <img src="../static/assests/extra/mainfram.png" alt="svg">
    </div>
</div>
{% endblock %}

{% block content %}

<!-- templates/debate/topics.html -->
<div class="title">
    <span>Explore Debates</span>
</div>
<br><br>
<div class="topic-section">
    <center>
        <div class="cbox">
            {% for topic in topics %}
                <div class="det">
                    <!-- Link to the topic's claims page -->
                    <a href="#">{{ topic[1] }}</a>
                </div>
            {% endfor %}
            
           
                <div class="det">
                    {% if session.get('user_id') %}
                    <a href="{{ url_for('debate.create_topic') }}" style="font-size:x-large;color: white; background: black; border: none;">+</a>
                    {% else %}
                    <a href="{{ url_for('auth.login') }}" style="font-size:x-large;color: white; background: black; border: none;">+</a>
                    {% endif %}
                </div>
            
        </div>
    </center>
    
</div>
<div class="claim-posts">
    <div class="title">
        <span>All claims</span>       
            {% if session.get('user_id') %}
            <a href="{{ url_for('debate.create_topic') }}" style="font-size:x-large;color: white; background: black; border-radius: 1rem; text-decoration: none; padding:.5rem 1rem;">Add Claim</a>
            {% else %}
            <a href="{{ url_for('auth.login') }}" style="font-size:x-large;color: white; background: black; border-radius: 1rem; text-decoration: none; padding:.5rem 1rem;">Add Claim</a>
            {% endif %}     
    </div>
    <div class="cards-container">
        {% for claim in claims%}
        <a class="card" href="/debate/claim_detail/{{ claim[0] }}">
            <div class="card-content">
                <h3>#{{claim[3]}}</h3>
                <h4>{{claim[1]}}</h4>
                <div class="metadata">
                    <span class="username"><span>by</span>{{claim[2]}}</span>
                </div>
                <div class="user-info">
                    <span>24 comments</span>
                    <span class="time">{{ claim[5] | format_datetime }}</span>
                </div>
            </div> 
    </a>      
        {% endfor %}
        
    </div>
</div>
    <!-- FEEDBACK -->
    <div class="title2" id="feedBACK">
        <span>Give Feedback</span>
        <div class="shortdesc2">
            <p>Please share your valuable feedback to us</p>
        </div>
    </div>

    <div class="feedbox">
        <div class="feed">
            <form action="mailto:roshank9419@gmail.com" method="post" enctype="text/plain">
                <label>Your Name</label><br>
                <input type="text" name="" class="fname" required="required"><br>
                <label>Email</label><br>
                <input type="email" name="mail" required="required"><br>
                <label>Additional Details</label><br>
                <textarea name="addtional"></textarea><br>
                <button type="submit" id="csubmit">Send Message</button>
            </form>
        </div>
    </div>

    <!-- Sliding Information -->
    <!-- <marquee style="background: linear-gradient(to right, #FA4B37, #DF2771); margin-top: 50px;" direction="left" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="20"><div class="marqu">“Education is the passport to the future, for tomorrow belongs to those who prepare for it today.” “Your attitude, not your aptitude, will determine your altitude.” “If you think education is expensive, try ignorance.” “The only person who is educated is the one who has learned how to learn …and change.”</div></marquee> -->

    {% endblock %}