body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../assests/extra/login_bg.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.login-container {
    background-color: #8e24aa;
    border-radius: 15px;
    padding: 30px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
}

.input-field input {
    width: 82%;
    padding: 10px 40px 10px 10px;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    color: white;
}

::placeholder {
    color: white;
    opacity: 1; 
  }

.input-field i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.checkbox-container input {
    margin-right: 5px;
}

.login-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #8e24aa;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #f3e5f5;
}

.register-link {
    margin-top: 10px;
    font-size: 16px;
}

.register-link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}
