<!DOCTYPE html>
<html>

<head>
	<link rel="shortcut icon" type="png" href="images/icon/favicon.png">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Comaptible" content="IE=edge">
	<title>{% block title %}Flask App{% endblock %}</title>
	<meta name="desciption" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->



	{% block head%}{% endblock %}
</head>

<body>
	<!-- Navigation Bar -->
	<header id="header">
		<nav>
			<div class="logo">
				<a style="text-decoration: none;" href="{{ url_for('index')}}"><h1>DebateSphere</h1></a>
				
			</div>
			<ul>
				<li><a class="active" href="{{ url_for('index')}}">Home</a></li>
				<li><a href="{{ url_for('about')}}">About</a></li>
				<li><a href="{{ url_for('contact')}}">Contact</a></li>

				{% if session.get('user_id') %}
				<li><a class="sign_btn" href="{{ url_for('auth.logout') }}">Logout</a></li>
				{% else %}
				<!-- Show Signin and Signup buttons when not logged in -->
				<li><a class="sign_btn" href="{{ url_for('auth.login') }}">Signin</a></li>
				<li><a class="sign_btn" href="{{ url_for('auth.register') }}">SignUp</a></li>
				{% endif %}
			</ul>
		</nav>
		{% block header %}{% endblock %}

	</header>


	{% block content %}{% endblock %}


	<!-- FOOTER -->
	<footer>
		<div class="footer-container">
			<div class="left-col">
				<h1 style="color: #fff; margin-bottom: 20px;">DebateSphere</h1>
				<div class="logo"></div>
				<div class="social-media">
					<a href="#"><img src="../static/assests/icon\fb.png"></a>
					<a href="#"><img src="../static/assests/icon\insta.png"></a>
					<a href="#"><img src="../static/assests/icon\tt.png"></a>
					<a href="#"><img src="../static/assests/icon\ytube.png"></a>
					<a href="#"><img src="../static/assests/icon\linkedin.png"></a>
				</div><br><br>
				<p class="rights-text">Copyright © 2024 Created By CodingNinja All Rights Reserved.</p>
				<br>
				<p><img src="../static/assests/icon/location.png"> Your full address<br>city, State</p><br>
				<p><img src="../static/assests/icon/phone.png"> +92-1234-567-890<br><img
						src="../static/assests/icon/mail.png">&nbsp; coding.ninja@gmail.com</p>
			</div>
			<div class="right-col">
				<h1 style="color: #fff">Our Newsletter</h1>
				<div class="border"></div><br>
				<p>Enter Your Email to get our News and updates.</p>
				<form class="newsletter-form">
					<input class="txtb" type="email" placeholder="Enter Your Email">
					<input class="btn" type="submit" value="Submit">
				</form>
			</div>
		</div>
	</footer>
</body>

</html>
